$dscreek: 'notepadregular',arial,sans;
$helvetica:"Helvetica Neue", "Helvetica", "Arial";
@mixin roundcorners ($radius){
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: $radius; 
  /* Firefox 1-3.6 */
  -moz-border-radius: $radius; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: $radius; 
}
@mixin clearfix {
    &:after {
        content: "."; 
        visibility: hidden; 
        display: block; 
        height: 0; 
        clear: both;
    }
}
@mixin blur_bg($bg_image, $amt) {
	background: url($bg_image);  
	background-size:cover;
	filter:  opacity(0.2);
	-webkit-filter: opacity(0.5);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	//filter: blur(2px) opacity(0.2);
	//-webkit-filter: blur(3.5px) opacity(0.5);
}
@mixin transparent_bg($bg_image, $overlay_opacity: "", $overlay_color: "") {
 
  background: -webkit-linear-gradient(left, rgba($overlay_color, $overlay_opacity), rgba($overlay_color, $overlay_opacity)), url($bg_image) no-repeat;
  background: -moz-linear-gradient(left, rgba($overlay_color, $overlay_opacity), rgba($overlay_color, $overlay_opacity)), url($bg_image) no-repeat;
  background: -o-linear-gradient(left, rgba($overlay_color, $overlay_opacity), rgba($overlay_color, $overlay_opacity)), url($bg_image) no-repeat;
  background: -ms-linear-gradient(left, rgba($overlay_color, $overlay_opacity), rgba($overlay_color, $overlay_opacity)), url($bg_image) no-repeat;
 
  background-size:cover;
}

* { color:#333333; margin:0;padding:0 }
h1,h2,h3,h4 {
	text-align:center;
	font-family:$dscreek;
}
#header{
	font-family:$dscreek;
	width:100%;
	color:white;
	h1{
		text-align:center;
		font-family:$dscreek;
		display:inline;
		color:white;
		font-size:28px;
		float:left;
	}
	background-color:gray;
	padding:25px 0 30px 25px;
	text-align:left;
	position:fixed;
	top:0;
	display:none;
	z-index:100;
	ul{
		margin-right:80px;
		float:right;
		font-size:18px;
		font-weight:lighter;
		font-family:$helvetica;
		@include clearfix;
		list-style-type:none;
		li{
			cursor:pointer;
			float:right;
			margin-right:15px;
			color:white;
		}
	}
    //background-color:rgba(255,255,255,0.6);
}
section{
	margin-top:100px;
	&:nth-of-type(1){
		margin-top:0px;
	}
	min-height:400px;
	width:100%;
	display:block;
	@include clearfix;
	// big wide image header sections
	&.header_block{
		position:relative;
		.bg_image{
			height:100%;
			width:100%;
			position:absolute;
			top:0;
			left:0;
		}
		.header_content{
			height:100%;
			width:100%;
			position:absolute;
			top:0;
			left:0;
			h1{
				font-family:$dscreek;
				text-align:center;
				font-size:86px;
				color:#333;
				padding-top:130px;
				@include clearfix;
				font-weight:normal;
				blur:none;
				&.info.lineup{
					font-size:48px;
					position:absolute;
					bottom:25px;
					text-align:center;
					width:100%;
				}
			}
			h2 {
				color:white;
				font-size: 36px;
			}

		}

		// Lineup
		&#header-content-1{
			&.bg_image{
			}
			height:500px;
			@include transparent_bg('/img/bg.jpg', 0.4, #fff); //  black overlay with 40% opacity
			background-position:0 -200px;
		}

		&#header-content-2{
			.bg_image{
				@include blur_bg('/img/dscreek.jpg','5px');
				background-position:0 -200px;
			}
			height:400px;
		}
		&#header-content-3{
			.bg_image{
				@include blur_bg('/img/grams2.jpg','5px');
			}
			height:400px;
		}
	}
	&.content_block{
		width:950px;;
		margin:40px auto 10px auto;
		font-family: $helvetica;
		font-weight:normal;
		font-size:14px;
		min-height:400px;
		h1{
			font-family:$dscreek;
		}
		&#info-content-1{
		}
	}
}
#marquee_text{
	&.stuck {
		position:fixed;
		top:0;
	}
}
#nav{
    margin:15px 0 40px 0;
    font-family:"Helvetica Neue";
    #centered-container{
        width:560px;
        margin:0 auto;
        color:white;
        font-size:28px;
        font-weight:bold;
        ul{
            @include clearfix;
            list-style-type:none;
            li{
                float:left;
            }
        }
    }
}

section.lineup-content{
	@include clearfix;
	ul{
		width:100%;
		list-style-type:none;
		@include clearfix;
		li{
			float:left;
			display:block;
			width:300px;
			height:300px;
			margin:0 25px 40px 0;
			position:relative;
			&.b1{
				background:url(/img/tallahassee.jpg);
			}
			&.b2{
				background:url(/img/lastgoodtooth.jpg);
			}
			&.b3{
				background:url(/img/pervert.jpg);
			}
			&.b4{
				background:url(/img/eql.jpg);
			}
			&.b5{
				background:url(/img/skull.jpg);
			}
			&.b6{
				background:url(/img/jonlewis.jpg);
			}
			h4{
				//@include roundcorners(4px);
				position:absolute;
				bottom:0;
				left:2%;
				text-align:right;
				width:98%;
				//-webkit-transform: rotate(-30deg);
				font-size:18px;
				font-family:$helvetica;
				font-weight:bold;
				color:#333;
				font-size:32px;
				background:rgba(255,255,255,0.5);
				padding-right:20px;
			}
			&:hover{
				h4{
					//display:block;
				}
			}
			&:nth-of-type(3n){
				margin-right:0px;
			}
		}
	}
}

section.info-content{
	h1{
		font-size:36px;
		text-align:left;
		margin:20px 0;
		border-bottom:1px solid #999999;
	}
	@include clearfix;
	ul{
		list-style-type: none;
		margin-bottom:50px;
		li{
			margin-top:25px;
			h2{
				font-family:$helvetica;
				font-size:18px;
				text-align:left;
				margin-bottom:15px;
			}
			p {
				line-height:18px;
			}
		}
		&:nth-of-type(2){
			margin-bottom:0px;
		}
	}
}

section.rsvp-content{
	DIV.form{
		float:left;
		width:60%;
	}
	DIV.thankyou{
		float:left;
		width:35%;
		display:none;
	}
}

#footer{
	font-family:$helvetica;
	padding:20px;
	font-size:12px;
	background-color:#d9d9d9;
	width:100%;
	color:#333333;
	a, a:hover, a:visited, a:active {
		color:#333333;
	}
}

h1{
	&.embiggen{
		font-size:46px;
	}
}
.tiny{
	font-size:10px;
}
